header{
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    padding: 8px 5px 1px 5px;
}
header h1{
    overflow: hidden;
}
header ul{
    padding: 0;
    overflow: hidden;
    background-color: white;
}
header ul li{
    display: inline;
    float: auto;
    padding: auto;
}
a{
    text-decoration: none;
    padding: 15px 20px;
}
li a:hover{
    background-color: azure;
}
a:hover{
    color: pink;
}

main table{
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width:98%;
    border-collapse: collapse;
}
main table tr:nth-child(2n+1){
    background-color: gray;
}
.paiming{
    color: red;
}
#biaotou{
    font-size: larger;
}


#pictureshow{
    background-color: burlywood;
    overflow: hidden;
    display: grid;
    grid-template-areas: 'a b c'
                        'd e f'
                        'g h i';
}
.tupian{
    background-color: darkgray;
    box-shadow: 5px 2px 3px;
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
}
footer{
    text-align: center;
    background-color: bisque;
    font-size: 30px;
}